<a href='<%="/users/#{current_user.id}/requests"%>'>My Requests</a> |
<a href='<%="/users/#{current_user.id}/managed_requests"%>'>My Users' Requests</a> |
<a href="/users">Users</a> | 
<a href="/teams">Teams</a> | 
<a href="/departments">Departments</a>